
section{
    background-color: #68317e;
    color: rgb(255, 253, 253);
    margin: 10px;
    padding: 10px;
    /* float: left; */
    height: auto;
    overflow: auto;

}
section > div:first-child{
    float: left;
    padding: 10px;
    margin-right: 30px;
    border: 5px solid black;
    
}
section > div > img{
    height: 300px;
    width: auto;

}
#Benjamin{
    
    font-size: 35px;
    color: black;
    margin: 10px;
    padding-left: 10px;
    height: 100px;
}
#Eric{
    font-size: 35px;
    color: black;
    margin: 10px;
    padding-left: 10px;
    height: 100px;
}
#Hanna{
    font-size: 35px;
    color: black;
    margin: 10px;
    padding-left: 10px;
    height: 100px;
}
#Elle{
    font-size: 35px;
    color: black;
    margin: 10px;
    padding-left: 10px;
    height: 100px;
}