main {
  margin: 20px 0px;
  height: 500px;
}

#description {
  background-color: black;
  color: white;
  width: 500px;
  margin: 40px auto;
  padding: 20px;
  opacity: .8;
}

#description > h1 {
  font-size: 20px;
  margin-bottom: 10px;
}

#iconDeck {
  display: grid;
  grid-template-columns: 250px 250px 250px 250px;
  grid-gap: 40px;
  justify-content: center;
  /* padding-top: 40px; */
}

#iconDeck > div {
  width: 250px;
}

.icon {
  border: 5px solid white;
  border-radius: 125px;
  object-fit: contain;
  height: 250px;
  width: 250px;
}

.front {
  margin: auto;
  width: 250px;
  transform: rotate(0deg);
  z-index: 1;
}

.back {
  border-radius: 20px;
  background-color: black;
  color: white;
  text-align: center;
  height: 250px;
  margin: auto;
  transform: rotateY(180deg);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 250px;
  opacity: 0.8;
}

.back h1 {
  font-size: 20px;
  margin: 10px 0px;
}

.back p {
  font-size: 18px;
  width: 230px;
  padding: 0px 10px;
}

.flip-container {
  height:250px;
  perspective: 250px;
}

.flip-container:hover .flipper, .flip-container:hover .flipper {
  transform: rotateY(180deg);
}

.flipper {
  transition: 1s;
  transform-style: preserve-3d;
  position: relative;
}

.front, .back {
  backface-visibility: hidden;
}