


main > section:first-child {
  border-radius: 10px;
  border: 20px solid white;
  background-color: rgb(226,245,250);
  height: 400px;
  margin: 20px auto;
  overflow: auto;
  width: 984px;
}

main > section:first-child > h2 {
  background-color:#00a3cc;
  font-size: 40px;
  padding: 10px 0px;
  position: sticky;
  top: 0;
  text-align: center;
}

#ingredients {
  display: grid;
  grid-template-columns: repeat(4, 180px);
  grid-template-rows: auto;
  grid-gap: 5px;
  margin: 10px auto;
  width: 960px;
  justify-content: space-evenly;
}

#ingredients > input {
  border: 0px;
  font-size: 15px;
  place-self: center;
  width: 180px;
}

.buttonOn {
  background-color: lightskyblue;
  color: white;
  font-size: 15px;
}

.buttonOff {
  background-color: white;
  color: #00a3cc;
  font-size: 15px;
}

main > section:last-child {
  background-color: lightgoldenrodyellow;
  margin: 20px auto;
  padding-bottom: 10px;
  width: 1024px;
}

main > section:last-child > h2 {
  background: lightgoldenrodyellow;
  position: sticky;
  top: 0;
  font-size: 40px;
  padding: 10px;
  text-align: center;
}

#recipes {
  margin: auto;
  padding: 0px 10px;
  width: 980px;
}

#recipes > div {
  background-color: white;
  height: 150px;
  margin-bottom: 10px;
  font-size: 0px;
}

#recipes > div > div:first-child {
  float: left;
  height: 150px;
  object-fit: contain;
  margin-right: 10px;
  width: 150px;
}

#recipes > div > div:nth-child(2) {
  float: left;
  width: 820px;
}

#recipes > div > div:nth-child(2) > div {
  object-fit: contain;
  float: right;
  height: 40px;
  width: 40px;
  margin-bottom: 10px;
}

#recipes > div > div:nth-child(2) > div > img {
  width: 40px;
}

#recipes h3 {
  display: inline-block;
  font-size: 25px;
  height: 30px;
  padding: 10px 0px;
  width: 780px;
}

#recipes ul {
  float: left;
  height: 90px;
  width: 780px;
  overflow: auto;
}

#recipes li {
  font-size: 18px;
  display: inline-block;
  padding: 2px;
}

.selectedIngredient {
  background-color: #00ccff;
  color: black;
  font-weight: bold;
}
body > h4{
  position: relative;
  float: right;
  margin: 10px;
  padding: 10px;
}
.login{
  /* display: none;  */
  position: sticky;
  float: left;
  padding: 20px;
  width: 500px;
  /* display: inline; */
  /* visibility: hidden; */

}