
/*FOR STYLING, PLEASE SEE STYLES.CSS EVERYTHING ON INDEX.CSS IS ABOUT THE CONTAINER OR THE INFORMATION INSIDE OF STATED CONTAINER*/
/*INGREDIENT GRID STYLING*/
main {
  display: grid;
  width: 1280px;
  grid-gap: 20px;
  grid-template-columns: 630px 630px
}

main > section:first-child {
  border-radius: 10px;
  border: 5px solid white;
  background-color: rgb(226,245,250);
  height: 500px;
  margin: 20px auto;
  overflow: auto;
  width: 620px;
}

main > section:first-child > h2 { /* ingredients header */
  background-color:#114B5F;
  font-size: 40px;
  padding: 10px 0px;
  position: sticky;
  top: 0;
  text-align: center;
  color: rgb(224, 222, 222);

}

#ingredients { 
  display: grid;
  grid-template-columns: repeat(4, 150px);
  grid-template-rows: auto;
  grid-gap: 2px;
  margin: 10px auto;
  width: 606px;
  justify-content: center;
}

#ingredients > input {
  /* place-self: center; */
  border: 0px;
  font-size: 13px;
  width: 150px;
}

#ingredients > input:focus {
  outline: none;
}

.buttonOn { /* ingredient button clicked */
  background-color: lightskyblue;
  color: white;
}

.buttonOff { /* ingredient button unclicked */
  background-color: white;
  color: #114B5F;
  font-size: 15px;
}


/*RECIPE CARD STYLING*/

main > section:last-child { /* recipe container*/
  background-color:  #7e7f9a;
  margin: 20px auto;
  padding-bottom: 10px;
  width: 630px;
  border-radius: 30px;

}

main > section:last-child > h2 { /* recipe header */
  background: #7e7f9a;
  position: sticky;
  top: 0;
  font-size: 40px;
  padding: 10px;
  text-align: center;
  color: rgb(224, 222, 222);

}

#recipes { /* container */
  margin: auto;
  padding: 0px 5px;
  width: 620px;
}

#recipes > div { /* background of individual card*/
  background-color: #8050cea1;
  height: 100px;
  margin-bottom: 10px;
  overflow: hidden;
  
}

/* img wrap width 105px */
#recipes > div > div:first-child {
  float: left;
  height: 100px;
  object-fit: contain;
  margin-right: 5px;
  width: 100px;
}
#recipes > div > div:first-child >img{
  width : 100px;
  
}

/* recipe title + ingredients + fav button wrapper  width 515px */
#recipes > div > div:nth-child(2) {
  float: left;
  width: 515px;
}

/* fav button wrapper width 25px */
#recipes > div > div:nth-child(2) > div {
  object-fit: contain;
  float: right;
  height: 25px;
  width: 25px;
}

/* fav button width 25px */
#recipes > div > div:nth-child(2) > div > img {
  width: 25px;
}

/* recipe title width 490px */
#recipes h3 {
  display: inline-block;
  font-size: 20px;
  height: 20px;
  padding: 2.5px 0px;
  width: 490px;
}

#recipes ul {
  float: left;
  height: 65px;
  overflow: auto;
  padding-bottom: 10px;
  width: 490px;
}

#recipes li {
  font-size: 13px;
  display: inline-block;
  padding: 2px;
}

.selectedIngredient { /*HIGHTLIGHTS INGREDIENT IN RECIPE*/
  background-color: #35df6d;
  color: black;
  font-weight: bold;
}

#formInvis{
  display: none;
  position: absolute;
}

#formVis{
  /* DO NOT CHANGE THE SIZES HERE */
  background-color: rgb(122, 121, 119);
  padding: 20px;
  left: 0;
  right: 0;
  position: absolute;
  margin: 10px auto;
  width: 550px;
  height: 80PX;
  z-index: 1; 
}
