main {
  width: 1280px;
}

#test {
  width: 90%;
  max-resolution: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  width: 1280px;
  margin-top: 10px;
}

#hello.hidden {
  visibility: hidden;
  z-index: 1;
  height:0px;
  width: 0px;
  margin: 0px;
}

#hello.unhidden {
  visibility: visible;
  transition-delay: 0.8s;
  transition-duration: 1s;
  margin-top: 10px;
  background-color: black;
  color: white;
  grid-column: 1/3;
  padding: 20px;
  font: 2em;
  text-shadow: 1px 1px 2px #000;
  opacity: 0.8;
}

#test > section:first-of-type > h2 {
  background-image: url('../imgs/background/ingredients.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Satisfy', cursive;
  font-weight: bold;
  font-size: 40px;
  padding: 20px 0px;
  height: 40px;
  text-align: center;
  text-shadow: 2px 2px black;
  color: white;
  margin-bottom: 5px;
}

#test > section:last-child > h2 {
  background-image: url('../imgs/background/porkchophead.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Satisfy', cursive;
  font-weight: bold;
  font-size: 40px;
  padding: 20px 0px;
  height: 40px;
  position: sticky;
  top: 0;
  text-align: center;
  text-shadow: 2px 2px black;
  color: white;
}

#userIngredients {
  /* margin: 5px 0px; */
  height: 450px;
  width: 622px;
}

#userIngredients ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1em;
  padding: 0px 6px;
  /* justify-content: center;   */

}

#userIngredients li {
  text-align: center;
  background-color: bisque;
  border-radius: 10px;
  box-shadow: 2px 5px 10px rgb(182, 182, 182);

}

#test section {
  background-color: whitesmoke;
  border-radius: 10px;
  border: 5px solid whitesmoke;
  height: 530px;
  /* margin: 10px 0px; */
  overflow: auto; 
  /* overflow: hidden; */
}

#userRecipes {
  display: grid;
  grid-template-columns: 1fr;
  margin: 5px 0px;
  /* justify-content: stretch; */
  overflow: scroll;
  font-family: 'EB Garamond', serif;
}

#userRecipes img {
  object-fit: cover;
  width: 100%;
  height: 350px;
  border-radius: 5px;
  border: 1px solid grey;
  object-position: 50% 50%;
  margin-bottom: 20px;
 }

 #userRecipes > div {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-column-gap: 10px;
 }

 #userRecipes h3 {
   grid-column: 1/3;
   font-size: 1.4em;
   padding: 0px 0px 10px 10px;
 }

 #userRecipes li {
  padding: 5px;
  text-align: center;
<<<<<<< HEAD
  box-shadow: 0px 5px 10px rgb(170, 170, 170);
}


=======
  box-shadow: 0px 2px 3px grey;
  margin-bottom: 2px;
}
>>>>>>> b193e897190a03a64301b8f191bf61abd556e81c
