html{
  /* background: radial-gradient(circle, rgb(231, 213, 213), #456990); */
  /* background-repeat: no-repeat;
  background-size: cover; */
  background-color: rgb(237, 243, 245);
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 10px;
}

body {
  margin: auto;
  width: 1280px;
}

header {
  position: relative;
  width: 1280px;
  border-radius: 10px;
}

#loginDiv {
  position: absolute;
  top: 0;
  right: 5px;
}

#loginDiv > h4 {
  color: white;
  display: inline-block;
  font-size: 15px;
  /* padding-top: 4px; */
}

#loginDiv > input {
  color: black;
  display: inline-block;
  font-size: 15px;
  margin: 5px 0px;
}

header {
  background-color:#456990;
  margin: auto;
  width: 1280px;
  overflow: auto;
}

header > div:last-child {
  width: 1280px;
  float: left;
}

header > div:last-child > img {
  float: left;
  margin-right: 20px;
}

header > div:last-child > div {
  float: left;
  margin: 20px 0px;
}

header > div:last-child > div > h1 {
  font-size: 75px;
}

header > div:last-child > div > h4 {
  font-size: 20px;
  margin-top: 10px;
}

nav {
  height: 150px;
  float: right;
}

nav li{
  display: inline-block;
  font-size: 30px;
  margin: 30px 50px 30px 0px;
  padding: 30px 0px;
}

main > section {
  margin: 20px auto;
  /* width: 1024px; */
  height: 530px;
  overflow: auto;
}

a {
  text-decoration: none;
  
}
a:visited {
  text-decoration: none;
}

footer {
  color: white;
}

