html {
  background-color: black;
}

body {
  margin: auto;
  width: 1280px;
}

header {
  background-color: lightgoldenrodyellow;
  margin: auto;
  width: 1280px;
  overflow: auto;
}

header > div {
  float: left;
}

header > div > img {
  float: left;
  margin-right: 20px;
}

header > div > div {
  float: left;
  margin: 20px 0px;
}

header > div > div > h1 {
  font-size: 75px;
}

header > div > div > h4 {
  font-size: 20px;
  margin-top: 10px;
}

nav {
  height: 150px;
  float: right;
}

nav li{
  display: inline-block;
  font-size: 30px;
  margin: 30px 50px 30px 0px;
  padding: 30px 0px;
}

a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

footer {
  color: white;
}

