/* font-family: 'Cuprum', sans-serif;
font-family: 'Satisfy', cursive;
font-family: 'Caveat', cursive;
font-family: 'Cookie', cursive;
font-family: 'Just Another Hand', cursive;
font-family: 'Fredericka the Great', cursive; 
<link href="https://fonts.googleapis.com/css?family=Caveat|Cookie|Cuprum|Fredericka+the+Great|Just+Another+Hand|Satisfy&display=swap" rel="stylesheet">
*/

html{
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-image: url(https://images.unsplash.com/photo-1517757910079-f57fd7f49a91?ixlib=rb-1.2.1&w=1000&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #114B5F;
  width: 100%;
  height: 100%;
  /* overflow: hidden; */
}


header {
  position: relative;
  width: 1280px;
  background-color:#17191b;
  margin: auto;
  overflow: auto;
  color: white;
  border-radius: 10px;
}

#loginDiv {
  position: absolute;
  top: 0;
  right: 5px;
}

#loginDiv > h4 {
  color: white;
  display: inline-block;
  font-size: 15px;
  /* padding-top: 4px; */
}

#loginDiv > input {
  color: black;
  display: inline-block;
  font-size: 15px;
  margin: 5px 0px;
}

header > div:last-child {
  width: 1280px;
  float: left;
}

#logo {
  float: left;
  height: auto;
  margin: 10px;
  object-fit: contain;
  width: 120px;
}

header > div:last-child > div {
  float: left;
  margin: 20px 0px;
}

header > div:last-child > div > h1 {
  font-family: 'Fredericka the Great', cursive;
  font-size: 60px;
}

header > div:last-child > div > h4 {
  font-family: 'Cookie';
  font-style: italic;
  font-size: 30px;
  margin-top: 10px;
}

nav {
  height: 150px;
  float: right;
}

nav li{
  display: inline-block;
  font-family: 'Cuprum';
  font-size: 30px;
  margin: 30px 50px 30px 0px;
  padding: 30px 0px;
}

main {
  margin:auto;
}

main > section {
  margin: 20px auto;
  /* width: 1024px; */
  height: 530px;
  overflow: auto;
}

a {
  color: white;
  text-decoration: none;
  
}
a:visited {
  color: white;
  text-decoration: none;
}

footer {
  color: white;
}

